ol{
    padding: 10px;

    li{
        cursor: pointer;

        &:not(:last-child){
            margin-bottom: 10px;
        }

        &:hover{
            background-color: #E0E0E0;
        }

        &.alert{
            border: 2px solid red;
        }
    }
}
