.footer{
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;

    @media (min-width: 600px){
        position: absolute;
    }

    ol{
        display: flex;
        flex-direction: row;
        height: 75px;

        li{
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $spacing-normal 0;
            cursor: pointer;

            &:hover{
                background-color: $lzy-hover;
            }

            p{
                color: grey;
            }
        }
    }

    background-color: #FFFFFF;
    border-top: 2px solid grey;

    img{
        height: 30px;
        width: auto;
    }
}

.plantFooter{
    position: absolute;
    bottom: 0;
}
