.footer{
    position: fixed;
    bottom: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;

    @media (min-width: 600px){
        position: absolute;
    }

    background-color: $lzy-light-green;
    border-top: 2px solid $lzy-dark-green;

    button{
        background-color: $lzy-light-green;
        width: auto;

        img{
            width: 40px;
        }
    }
}

.plantFooter{
    position: absolute;
    bottom: 0;
}
