.header{
    width: 100%;
    justify-content: center;
    background-color: $lzy-dark-green;
    background-image: url("/src/images/HeaderLeaves.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;

    @media (min-width: 600px){
        width: 350px;
    }

    img{
        width: 150px;
        cursor: pointer;
        z-index: 10;
        padding: $spacing-normal 0;
    }

    p{
        cursor: pointer;
        margin-right: $spacing-normal;
        position: absolute;
        right: 0;
        bottom: $spacing-normal;
    }
}

.headerBump{
    width: 100%;
    height: 87px;
}
