.plant{
    align-items: flex-start;

    .image{
        .img-container{
            width: 50%;

            img{
                width: 100%;
            }
        }

        .text{
            width: 25%;
            text-align: center;

            h1{
                color: $lzy-dark-green;
            }
        }
    }

    h1{
        font-size: 30px;
        text-transform: uppercase;
        color: #000000;
    }

    h3{
        color: #000000;
        text-transform: uppercase;
    }

    .column{
        padding: $spacing-normal;
    }

    .small{
        font-size: 11px;
        padding: $spacing-half 0;
    }

    .delete{
        margin: 0 auto;
        margin-top: $spacing-normal;
        color: red;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}
