.plants{
    padding: $spacing-normal;

    >p{
        margin: 0 auto;
    }

    ol{
        width: 100%;

        li{
            cursor: pointer;
            padding: $spacing-normal;

            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            border-bottom: 1px solid grey;

            color: $lzy-dark-green;

            &:not(:last-child){
                margin: $spacing-half 0;
            }

            &:hover{
                background-color: $lzy-hover;
            }

            *{
                color: $lzy-dark-green;

                &:not(:first-child){
                    margin-left: $spacing-normal;
                }
            }

            span{
                position: absolute;
                right: 10px;
                color: white;
                background-color: red;
                border-radius: 20px;
                padding: 3px 10px;
            }

            h3{
                font-size: 15px;
            }
        }
    }
}
